<!doctype html>
<html>
    <head>
        {% block head %}
        <title>搜进程</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
             <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
             <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
             <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
             <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js">
             </script> -->

        <link rel="stylesheet" href="/static/jquery.mobile-1.4.5.min.css">
        <script src="/static/jquery-1.8.3.min.js"></script>
        <script src="/static/jquery.mobile-1.4.5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="/static/jquery.dataTables.js"></script>
        <script type="text/javascript">
         function isURL(str) {
             var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                                      '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.?)+[a-z]{2,}|'+ // domain name
                                      '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                                      '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                                      '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                                      '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
             return pattern.test(str);
         }

         String.format = function() {
             // The string containing the format items (e.g. "{0}")
             // will and always has to be the first argument.
             var theString = arguments[0];

             // start with the second argument (i = 1)
             for (var i = 1; i < arguments.length; i++) {
                 // "gm" = RegEx options for Global search (more than one instance)
                 // and for Multiline search
                 var regEx = new RegExp("\\{" + (i - 1) + "\\}", "gm");
                 theString = theString.replace(regEx, arguments[i]);
             }
             return theString;
         }
        </script>

        <STYLE type="text/css">
         /* 两个 button 可以显示在一行 */
         td div div {
             display: inline-block;
             width: 30%;
         }

         /* 两个 button 居中对齐 */
         td div {
             text-align: center;
         }

         /* td 内容居中显示 */
         tbody tr td {
             text-align: center;
         }

         /* td 内容如果很长则多行显示，不破坏列宽 */
         table.dataTable thead tr th {
             word-wrap: break-word;
             word-break: break-all;
         }

         table.dataTable tbody tr td {
             word-wrap: break-word;
             word-break: break-all;
         }
        </STYLE>
        {% endblock %}
    </head>

    <body>
        <div data-role="page">
            <div data-role="header">
                <h1>搜进程</h1>
            </div><!-- /header -->

            <div role="main" class="ui-content">
                {% block content %}
                {% endblock %}
            </div><!-- /content -->
        </div><!-- /page -->
    </body>
</html>
