{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function() {
     $("#proc_form").submit(function(event) {
         event.preventDefault();
         event.stopPropagation();
         var name = $('#proc_name').val();
         var des = $('#proc_des').val();
         $.post("commit", JSON.stringify({"name": name, "des":des}), function() {
             $('p#submit_return').text('提交成功，等待通过');
         })
          .fail(function() {
              $('p#submit_return').text('提交太快了');
          });
     });
 });
</script>
{% endblock %}

{% block content %}
<form id="proc_form">
    进程: <input id="proc_name" type="text"/>
    描述: <textarea id="proc_des" cols="40" row="5"></textarea>
    <input id="proc_submit" type="submit" value="提交" />
</form>
<p id="submit_return"></p>
{% endblock %}
