{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function() {
     window.table = $('#table_id').DataTable({
         "autoWidth": false,
         "columns": [
             { "width": "5%" },
             { "width": "15%" },
             { "width": "40%" },
             { "width": "20%" },
             { "width": "20%" },
         ]
     });

     $("button#commit").click(function() {
         var cid = $(this).closest("tr").children('td').eq(0).text();
         var tr = $(this).parents('tr');
         $.get("confirm?key=jxyIlydR&method=confirm&id=" + cid, function() {
             console.log("commit success");
             window.table
                   .row(tr)
                   .remove()
                   .draw();

         })
          .fail(function() {
              console.log("commit fail");
          });
     });

     $("button#delete").click(function() {
         var cid = $(this).closest("tr").children('td').eq(0).text();
         var tr = $(this).parents('tr');
         $.get("confirm?key=jxyIlydR&method=del&id=" + cid, function() {
             console.log("delete success");
             window.table
                   .row(tr) //如果这里写 `$(this).parents('tr');`, this 不是 button#delete
                   .remove()
                   .draw();
         })
          .fail(function() {
              console.log("delete fail");
          });
         console.log($(this).parents('tr'));
     });
 });
</script>
{% endblock %}

{% block content %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>进程</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>提交/删除</th>
        </tr>
    </thead>
    <tbody>
        {% for commit in commits %}
        <tr>
            <td>{{commit.id}}</td>
            <td>{{commit.name}}</td>
            <td>{{commit.des}}</td>
            <td>{{commit.create_time}}</td>
            <td>
                <div>
                    <div>
                        <button style="background-color:#00FF00" id="commit">提交</button>
                    </div>
                    <div>
                        <button style="background-color:#FF0000" id="delete">删除</button>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
