{% extends "base.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
 $(document).ready(function() {
     $("#search-process").bind("enterKey", function(event) {
         var proc = $('#search-process').val();
         $.get("search/" + proc, function(data) {
             $('p#name').text('');
             $('p#des').text('');
             var obj = JSON.parse(data);
             if(jQuery.isEmptyObject(obj)) {
                 $('p#name').text('找不到: ' + proc, ", ");
                 $('p#name').append('<br/><a href="commit">提交一个进程描述</a>');
                 return;
             }
             $('p#name').text(obj.name);
             var split = obj.des.split('\n');
             for(i in split) {
                 if(isURL(split[i])) {
                     var link = String.format('<a href="{0}">{0}</a><br/>', split[i]);
                     $('p#des').append(link);
                 } else {
                     $('p#des').append(split[i] + '<br/>');
                 }
             }
             //$('p#des').text(obj.des);
             //console.log(obj.des);
         });
     });

     $('#search-process').keypress(function(event) {
         if(event.which == 13){
             $(this).trigger("enterKey");
             event.preventDefault();
             event.stopPropagation();
         }
     });
 });
</script>
{% endblock %}

{% block content %}
<form>
    <input id="search-process" data-type="search" placeholder="Type to search..." maxlength="64">
</form>

<p id="name"></p>
<p id="des"></p>
{% endblock %}
